page-home {
   

    .masters {
        background-color: #3856C1;
        vertical-align: middle !important;

    }

    .button-principal {
        background-color: red;
      
    }

    .vertical-center-align {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
}
