bottombar {
    .foot-bar{
        position: absolute !important;
    }

    .button-footbar {
        padding: 0px;
        width: 45px
    }
    .col-footbar{
        margin: 0px;
        padding: 3px;
        text-align: center !important;
    }
}
